@import "_variables_and_functions";
@import "_utilities";

.section-main-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
        max-width: 470px;
    }

    @media screen and (max-width: 1120px) {
        justify-content: center;
    }
}

.section-welcome,
.section-basic-objectives {
    background-image: linear-gradient(to right, #0088ff, #1c9e75);
    color: white;
    padding: 100px 0;
}

.section-welcome {
    a {
        color: #ffcc56;
        text-decoration: underline;
        font-weight: 600;

        &:hover {
            font-weight: 800;
        }

        &.btn {
            &,
            &:link,
            &:visited {
                background-color: white;
                color: black;
                border: none;
                outline: 2px solid white;
                min-width: rem(289px);
                padding: 0.8rem 1.5rem;
                font-weight: 700;
      
                text-decoration: none;
            }

            &:hover {
                color: #ffffff;
                background-color: transparent;
            }
            &:focus {
                outline: 2px solid #1c9e75;
            }
        }
    }
}

.section-about {
    background-position: -10% 14%;
    background-image: url(../images/section-about-image.png);
    background-repeat: no-repeat;

    @media screen and (max-width: 1212px) {
        background-image: none;
    }

    h2 {
        border: 3px solid color(color02);
        background-color: color(color05);
        display: inline-block;
        padding: 30px 150px;
        min-width: 600px;
        text-align: center;

        @media screen and (max-width: 750px) {
            min-width: 300px;
            padding: 10px 50px;
        }

        @media screen and (max-width: 550px) {
            min-width: 256px;
            padding: 10px 50px;
        }
    }
}

.section-target-groups {
    .all-target-groups {
        max-width: 1100px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        position: relative;

        @media screen and (max-width: 530px) {
            justify-content: center;
        }

        .target-group {
            .target-group-box {
                width: 400px;
                height: 280px;
                background-color: color(color03);
                color: color(color02);
                text-align: center;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                h5 {
                    min-height: 64px;
                    max-width: 230px;
                }

                .fa-chevron-up {
                    display: none;
                }
            }

            &.active .target-group-box {
                background-color: color(color02);
                color: white;
                height: 273px;

                .fa-chevron-down {
                    display: none;
                }

                .fa-chevron-up {
                    display: block;
                    margin-top: 50px;
                }
            }
        }

        .target-group-impacts {
            border: 3px solid color(color02);
            padding: 40px 30px;
            display: none;
            position: absolute;
            background: white;
            min-height: 281px;
            left: 0;
            right: 0;
            align-items: center;

            p {
                max-width: 970px;
            }
        }
    }

    .active .target-group-impacts {
        display: flex;
    }
}

.section-basic-objectives {
    ol {
        list-style: none;
        margin-left: 10%;
        li {
            margin: 0 0 0.5rem 0;
            max-width: 910px;

            span {
                background-color: white;
                color: color(color02);
                font-weight: bold;
                width: 30px;
                height: 29px;
                border-radius: 100%;
                display: inline-block;
                margin-right: 10px;
                text-align: center;
                margin-left: -40px;
            }
        }
    }
}

.section-the-challenge {
    background-color: color(color03);
    padding: 100px 0;
    background-position: 100% 14%;
    background-image: url(../images/section-challenge-image.png);
    background-repeat: no-repeat;

    h1,
    span {
        color: color(color02);
    }

    span {
        border-bottom: 3px solid color(color02);
    }
}

.section-key-concepts {
    .accordion-item,
    .accordion-item:first-child,
    .accordion-item:last-child {
        max-width: 1250px;
        border: 3px solid color(color07);

        .key-title {
            button {
                color: color(color07);
                font-size: rem(18px);
                text-decoration: none;

                b {
                    margin-left: 10px;
                }
            }

            .fa-minus-circle {
                display: initial;
                color: color(color08);
            }

            .fa-plus-circle {
                display: none;
            }

            .accordion-button::after {
                display: none;
            }

            .accordion-button {
                background-color: white;
            }
            .accordion-button:focus {
                display: none;
            }
            .collapsed {
                .fa-minus-circle {
                    display: none;
                }

                .fa-plus-circle {
                    display: initial;
                    color: color(color07);
                }

                b {
                    color: color(color07);
                }
            }
        }
    }

    .accordion-body {
        max-width: 1080px;
        margin-left: 25px;
    }
}

.section-project-roadmap {
    .roadmap-bck {
        background-color: color(color05);

        .timeline-main-title {
            display: none;
        }

        .timeline-post.odd .timeline-content.clearfix.aos-init.aos-animate {
            box-shadow: 0px 10px 10px -15px #111;
            border-right: 3px solid color(color03);
        }

        .timeline-post.even .timeline-content.clearfix.aos-init.aos-animate {
            box-shadow: 0px 10px 10px -15px #111;
            border-left: 3px solid color(color03);
        }

        .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title:before,
        .cool-timeline.white-timeline .timeline-post.even .timeline-content .content-title:before {
            border-left-color: color(color03);
        }

        .cool-timeline.white-timeline .timeline-post.odd .timeline-meta .meta-details,
        .ctl_road_map_wrp li.odd .ctl-story-year,
        .ctl_road_map_wrp li.odd .ctl-story-title,
        .ctl_road_map_wrp li.odd .ctl-story-title a,
        .ctl-popup-content h2,
        .cool-timeline.white-timeline .timeline-post.even .timeline-meta .meta-details,
        .ctl_road_map_wrp li.odd .ctl-story-year,
        .ctl_road_map_wrp li.odd .ctl-story-title,
        .ctl_road_map_wrp li.odd .ctl-story-title a,
        .ctl-popup-content h2 {
            display: none;
        }

        .ctl-timeline-date {
            color: #333333;
        }

        .cool-timeline.white-timeline .timeline-post.odd .icon-dot-full,
        .cool-timeline.one-sided.white-timeline .timeline-post .icon-dot-full,
        .cool-timeline.white-timeline .timeline-post.even .icon-dot-full {
            background: color(color02);
        }
        .cool-timeline.white-timeline .timeline-post.even .timeline-content .content-title,
        .cool-timeline.white-timeline .timeline-post.odd .timeline-content .content-title {
            color: #262626;
        }
    }
}

.section-consortium {
    .consortium-logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 670px) {
            justify-content: center;
        }

        a {
            margin-right: 65px;

            @media screen and (max-width: 760px) {
                margin-right: 25px;
            }
        }
    }
}
